{% extends 'base.html.twig' %}

{% block title %}detail de la todo !{% endblock %}

{% block body %}

    <!-- boucle permettant de récupérer un type particulier de message flash (ici les warning) pour affichage -->
    {% for flash in app.flashes('warning') %}

        <div class="alert alert-warning">
            {{ flash }}
        </div>

    {% endfor %}

    <!-- condition permettant de ne traiter la todo que si elle n'est pas null -->
{% if(todo != null) %}
    <div class="container text-center">
        <h1>Hello {{ controller_name }}! ✅</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"> tâche </th>
                <th scope="col"> description </th>
                <th scope="col"> état </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"> {{ todo.id }}</th>
                    <td> {{ todo.task }}</td>
                    <td> {{ todo.description }}</td>
                    <!-- on check la valeur de completed pour définir si le bouton est coché ou non -->
                    <td>
                        <!-- quand on clique sur la checkbox, on appelle la méthode du controller -->
                        <input onchange="window.location.href='{{ path("app.todo.patch.completed", {'id': todo.id}) }}'" type="checkbox" {{ todo.completed == false ? "" : "checked"}}>
                    </td>
                    <td>
                        <a href="{{ path('app.todo.delete', {'id': todo.id}) }}" class="btn btn-danger"> X </a>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
{% endif %}
        <!-- bouton de retour vers la page par defaut de todo (/todo) -->
        <div class="text-center">
            <a class="btn btn-primary" href="{{path('app.todo') }}" > retour </a>
        </div>
{% endblock %}