{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}

<div class="container text-center">
    <!-- variable récupérée depuis le controller -->
    <h1>Hello {{ controller_name }}! ✅</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"> tâche </th>
            <th scope="col"> état </th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <!-- on boucle sur le tableau de todos récupéré depuis le controller -->
        {% for todo in todolist %}
        <tr>
            <!-- j'affiche les valeurspour chaque itération de la boucle -->
            <th scope="row"> {{ todo.id }}</th>
            <td> {{ todo.task }}</td>
            <td>
                <!-- quand on clique sur la checkbox, on appelle la méthode du controller -->
                <input onchange="window.location.href='{{ path("app.todo.patch.completed", {'id': todo.id}) }}'" type="checkbox" {{ todo.completed == false ? "" : "checked"}}>
            </td>
            <!-- lien permettant de naviguer vers la page des details en renseignant un paramètre (ici todo.id) -->
            <td>
                <a href="{{ path('app.todo.detail', {'id': todo.id}) }}" class="btn btn-info"> détail </a>
                <a href="{{ path('app.todo.delete', {'id': todo.id}) }}" class="btn btn-danger"> X </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
